/* Fonts  */
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ejemplo de clases personalizadas */
.card {
  @apply bg-base rounded overflow-hidden shadow-md relative;
}

.badge {
  @apply bg-prim text-white text-sm uppercase font-bold rounded-full p-2 absolute top-0 ml-2 mt-2;
}

.btn {
  @apply rounded-2xl py-2 px-3 uppercase  font-bold cursor-pointer tracking-wider;
}

.fa-custom {
  @apply animate-fade animate-duration-[900ms] animate-ease-in-out;
}

.fu-custom {
  @apply animate-duration-[780ms] animate-ease-in-out;
}

/* Estilos profile */
.profile-bttn-text{
  @apply hidden md:block font-bold text-base self-center text-white transition-all
}

.profile-banner{
  background-image: url("../src/assets/img/banner-opacity-50.jpg");
}

#div-file{
  background-color: rgba(16, 20, 44,0.5)
}

#div-file input[type="file"] {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.shadow-profile{
  box-shadow: inset 0px -29px 8px 0px rgba(0,0,0,0.1);
}

/* Estilos propios */
.li-elem {
  @apply mt-5 pb-2 border-b border-gray-200 flex;
}

.title-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r  font-title font-bold;
}

.content-form-center {
  @apply flex flex-col items-center justify-center px-6 pb-8 mx-auto animate-fade animate-ease-in-out;
}

/* Cambiando color de boton de visualizar password */
input {
  color: white;
}
::-ms-reveal {
  filter: invert(100%);
}

/* ===== Scroll bar ====== */

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la scrollbar */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo del riel de la scrollbar (el fondo) */
::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo del pulgar de la scrollbar (la parte móvil) */
::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo del pulgar de la scrollbar al pasar el cursor sobre él */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border-radius: 5px; /* Bordes redondeados */
}
