/* Division Wave */
.custom-shape-divider-bottom-1689485827 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1689485827 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 106px;
  }
  
  .custom-shape-divider-bottom-1689485827 .shape-fill {
    fill: #141414;
  }
  
  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1689485827 svg {
        width: calc(147% + 1.3px);
        height: 87px;
    }
  }
  
  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-bottom-1689485827 svg {
        width: calc(148% + 1.3px);
        height: 52px;
    }
  }
  
  /* Division tilt - base-100 */
  .custom-shape-divider-bottom-1689492744 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1689492744 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
  }
  
  .custom-shape-divider-bottom-1689492744 .shape-fill {
    fill: #141414;
  }
  
  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1689492744 svg {
        width: calc(100% + 1.3px);
        height: 87px;
    }
  }
  
  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-bottom-1689492744 svg {
        width: calc(148% + 1.3px);
        height: 52px;
    }
  }
  
  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1689492651 svg {
        width: calc(100% + 1.3px);
        height: 87px;
    }
  }
  
  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-bottom-1689492651 svg {
        width: calc(148% + 1.3px);
        height: 52px;
    }
  }
  
  /* Division tilt - base-200 */
  .custom-shape-divider-top-1689493240 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-top-1689493240 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
    transform: rotateY(180deg);
  }
  
  .custom-shape-divider-top-1689493240 .shape-fill {
    fill: #141414;
  }
  
  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1689493240 svg {
        width: calc(100% + 1.3px);
        height: 87px;
    }
  }
  
  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-top-1689493240 svg {
        width: calc(148% + 1.3px);
        height: 52px;
    }
  }