@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
    --Dlish-Green: rgb(35, 206, 107);
    --Dlish-Orange: rgb(255, 103, 0);
    --Dlish-Blue: rgb(10, 36, 99);
    --Dlish-White: rgb(251, 247, 248);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body{height: 100vh; background-color: var(--Dlish-White);}  

.nav{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0.5rem;
}

.search-container{
    height: 70%;  width: 50%;
    border-radius: 999px; overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: #474747 0px 5px 2px;
}

input.search-input{
    width: 100%; height: 100%;
    border: none;
    padding-left: 0.5rem; padding-right: 0.5rem;
    text-overflow: ellipsis;
    /* font-size: 10px; */
}  

input.search-input::placeholder{font-style: italic; color: #2d343677;}

input:focus{outline: none;}

button.search-bttn{
    background-color: var(--Dlish-Green);
    border: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; justify-content: center;
    border-top-left-radius: 999px; border-bottom-left-radius: 999px;
}

.search-bttn img{height: 60% !important;}
.nav img{height: 30px;}

section.main-section{
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    padding-left: 2rem; padding-right: 2rem; 
}

section.main-section article{margin-bottom: 3em}

.cards, .suggestions-cards{display: flex; justify-content: space-between;}

.card-cont{
    height: 125px;
    width: 125px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: #474747 0px 5px 2px;
}

.card-cont h1{
    margin: 1.3em;
    color: white;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.card-cont:nth-child(odd){background-color: #2959d7;}
.card-cont:nth-child(even){background-color: rgb(255, 134, 53);}

div#db{background-image: url(../img/DB-card-bg.png); background-size: cover; background-position: 0%;}
div#domingoSavio{background-image: url(../img/domingoSavio-card-bg.png); background-size: cover; background-position: 0%;}

article.suggestions span{color: var(--Dlish-Orange);}

article.suggestions-cards{background-color: var(--Dlish-Orange);
    margin-right: -2em; margin-left: -2em;
    padding: 1.3rem;

}

div.card-sug{
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
    border-radius: 25px;
    padding: 1em;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px,  /* Aplicación de un borde negro a las letras */
    rgb(0, 0, 0) 1.75517px 0.958851px 0px,
     rgb(0, 0, 0) 1.0806px 1.68294px 0px,
      rgb(0, 0, 0) 0.141474px 1.99499px 0px,
       rgb(0, 0, 0) -0.832294px 1.81859px 0px,
        rgb(0, 0, 0) -1.60229px 1.19694px 0px,
         rgb(0, 0, 0) -1.97998px 0.28224px 0px,
          rgb(0, 0, 0) -1.87291px -0.701566px 0px,
           rgb(0, 0, 0) -1.30729px -1.5136px 0px,
            rgb(0, 0, 0) -0.421592px -1.95506px 0px,
             rgb(0, 0, 0) 0.567324px -1.91785px 0px,
              rgb(0, 0, 0) 1.41734px -1.41108px 0px,
               rgb(0, 0, 0) 1.92034px -0.558831px 0px; 
}.card-sug h1{color: white;}

div#pupusa{background-image: url(../img/pupusas-bg.jpg); background-size: cover; background-position: 0%;}
div#pan{background-image: url(../img/pan-bg.jpg); background-size: cover; background-position: 0%;}





@media (min-width: 300px){
    *{color: #1e272e}

    html{font-size: 10px;}

    .nav{
        height: 5%;
        font-size: 1rem;
    }

    .search-input{font-size: 1rem;}

    .search-bttn{width: 20%;}
}

@media (min-width: 700px){
    *{color: blue}
}

@media (min-width: 1000px){
    *{color:purple}
    .nav{padding: 0.5%}

    .search-bttn{width: 10%;}
}